Temp
Logs
.vs
.vsconfig
UserSettings
/VR_Project_Main/UserSettings
/VR_Project_Main/Library
/VR_Project_Main/UserSettings/Layouts/default-2022.dwlt
/VR_Project_Main/UserSettings/Layouts
/VR_Project_Main/obj/Debug
