Temp
Logs
.vs
.vsconfig
UserSettings
/VR_Project_Main/UserSettings
/VR_Project_Main/Library
/VR_Project_Main/UserSettings/Layouts/default-2022.dwlt
/VR_Project_Main/UserSettings/Layouts
/VR_Project_Main/obj/Debug
VR_Project_Main/obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
VR_Project_Main/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
VR_Project_Main/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VR_Project_Main/Assembly-CSharp-Editor.csproj
VR_Project_Main/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
VR_Project_Main/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/VR_Project_Main/obj/Debug
/VR_Project_Main/Builds
